<%= include header %>
	<%= include nav %>
		<%= include aside %>
		<section>
			<article>
				<div class="profilePic">
					
				</div>
				<div class="postWrapper">
					<h5>username</h5>
					<div class="post">
						
					</div>
					<footer>
						
					</footer>
				</div>
				<br clear="all" />
			</article>
		</section>
<%= include footer %>