		<header>
			<h1><a href="/" style="color: #2D72D9;">tumbling.</a></h1>
			<nav>
				<ul>
					<li>Hot</li>
					<li>Trending</li>
					<li>Fresh</li>
				</ul>
			</nav>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/me">Profile</a></li>
					<li><a href="/logout">Log out</a></li>
				</ul>
			</nav>
			<br clear="all" />
		</header>